{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_messages.html' %}
<p>Your current consumption is {{ balance }} kWh</p>

{% if l %}
  <p>{{ l|length }} anomaly(s) detected:</p>
  <ul>
    {% for detection in l %}
      <li>{{ datetime.fromtimestamp(detection[0]) }} - Amount: {{ detection[1] }} kWh</li>
    {% endfor %}
  </ul>

  <!-- Add the button to download the anomaly detection results as a .txt file -->
  <form action="{{ url_for('download_anomaly_results') }}" method="POST">
    <button type="submit" class="btn btn-primary btn-block">Download Anomaly Results</button>
  </form>

{% else %}
  <p>No anomaly detected.</p>
{% endif %}

<form action="" method="POST">
  <div>
    <!-- Add your form fields here -->
  </div>
  <button type="submit" class="btn btn-primary btn-block">Detect Anomaly</button>
</form>
{% endblock %}
