{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_messages.html' %}
<p>Your current consumption is {{ balance }} kwh</p>
{% from "includes/_formhelpers.html" import render_field %}
<form action="" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <div class="form-label-group">
      {{ render_field(form.csv_file, class_="form-control") }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Transact</button>
</form>
{% endblock %}
