<!-- Transact_CSV.html -->
{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_messages.html' %}
<p>Your current consumption is {{ balance }} kwh</p>
<form action="" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <div class="form-label-group">
      <input type="file" name="csv_file" class="form-control">
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Transact</button>
</form>

<!-- Add an HTML canvas element to render the chart -->
<canvas id="myChart" width="400" height="200"></canvas>
{% endblock %}
